/* mobile&tablet */
@media (max-width:1023px){
   
    .hide-on-mobile-tablet{
        display:none;
    }
    .header_cart-list{
        width:100%;
        position: fixed;
        right: 0;
        top:var(--header-height);
        padding:0 calc((100% - 644px)/2);
    }
    .header{
        position:fixed;
        top:0;right:0;left:0;
        z-index: 10;
    }
    .header_cart-list:after{
        display:none;
    }
    .app_container{
        margin-top: calc(var(--header-height) + var(--header_sort-bar-height));
    }
    .header_sort-bar{
        display: flex;
    }
    .app_content {
        margin: 0 4px;
        padding-top: 8px;
    }
    .mobile-category{
        display: flex;
    }
    
}

/* tablet */
@media(min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display:none;
    }
    .header_cart {
        width: 80px;
        text-align: right;
    }
}
/* mobile */
@media (max-width:739px){
    :root{
        --navbar-height:0px;
        --header-height:54px;
    }
    .hide-on-mobile{
        display:none;
    }
   
    .header-with-search{
        justify-content: space-between;
    }
    .header_logo,.header_cart{
        width:unset;
    }
    .header_search{
        position: fixed;
        top:var(--header-height);
        left:0;
        right:0;
        height:46px;box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        padding:0 16px;
        z-index:1 ;
        animation: mobileSearchSideIn linear 0.3s;
    }
    .header_search-history{
        position: fixed;
        width: 100%;
        top:calc(var(--height-height) + var(--header-sort-bar-height));
        left:0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    }
    .pagination-item{
        margin: 0;
    }
    .pagination-item_link{
        font-size:1.6rem;
        --height:28px;
        min-width: 36px;
    }

    .header_mobile-search{
        display:block;
    }
    .header_logo{
        width:110px;
    }
    .footer_content{
        padding:0 16px;
    }
    .footer_heading{
        text-align:center;
    }
    .footer_dowload , .footer_list-items_link{
        justify-content:center;
    }
    .footer_dowload-apps{
        flex:unset;
    }
    .footer_dowload-apps_link{
        display:block;
        padding:6px 8px;
    }






    @keyframes mobileSearchSideIn {
        from{
            opacity:0;
            top:calc( var(--header-height) / 2);
        }
        to{
            opacity: 1;
            top:var(--header-height);
        }
        
    }
}